<h3>{{ _('Hello!') }}</h3>

<p>{% trans %}
    Thank you for choosing Fracktal Works!
{% endtrans %}</p>
<p>{% trans %}
    This wizard will guide you through the final steps to get your fw-OctoPrint interface all set up and ready to go. We'll
    get you printing in no time!
{% endtrans %}</p>
